bitcoin {
    import "bitcoin-network.cfg"
}

network {
    import "conn-signing.cfg"
}

settlement {
    # 32 bytes/64 hex characters
    privKeySeed = "9b4b4cf8f8796ca8a3a8a3da5c73deeb7c558a89e3752b896349ec58c010879d"
    fundsDestinationAddress = "mm9mm96b8bZRBacaAvY5MEeDd6HW46qFcY"
}
